.newsletterArea{
    padding: 20px;
    background: rgba(245, 245, 245, 1);
    margin-bottom: 32px;
}
.contentArea{
    display: flex;
    align-items: start;
    gap: 16px;
    font: 400 19px / 1.25 var(--font-secondary);
}
.subscribeFormWrap{
    font-size: .85em;
}
.formRow{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: 16px;
}
.inputColumnGroup input, .inputColumnGroup button{
    --height: 36px;
}
.inputColumnGroup input{
    border-width: 0px 0px 1px;
    border-radius: 0;
    padding: 0;
    --input-color: var(--black-color);
    background: transparent !important;
    box-shadow: none !important;
}
.inputColumnGroup span{
    margin-top: 4px;
}

@media only screen and (max-width: 1600px){
    .fullWidth{
        width: 100%;
    }
    .formRow{
        gap: 16px;
    }
}