.topHeaderWrapper {
	--logo-size: 300px;
	--area: calc(50% - calc(var(--logo-size)) / 2);
	--gap: 24px;
	display: grid;
	grid-template-columns: calc(var(--area) - var(--gap)) var(--logo-size) calc(var(--area) - var(--gap));
	gap: var(--gap);
	align-items: center;
}
.leftArea{
    column-gap: 36px;
}
.logo{
    display: block;
}
.searchInput {
	max-width: 85%;
	margin-left: auto;
    position: relative;
    z-index: 1;
}
.searchInput .form-control{
    background: var(--white-color);
    padding-inline: 20px 60px;
}
.searchInput button{
    --size: 48px;
    width: var(--size);
    height: calc(var(--size) - 10px);
    color: var(--white-color);
    background: var(--another-color);
    border: none;
    outline: none;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    font-size: 15px;
}

/* Navigation */
.nav_wrapper {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.navMenu ul{
    column-gap: 36px;
    font: normal 18px / 1.5 var(--font-bold);
}
.menu-item a{
    color: inherit;
}
.menu-item a:hover{
    color: var(--primary-color);
}
.navMenu > ul > li > a{
    line-height: 2em;
    padding: 15px 0px;

}
@media only screen and (max-width: 1600px){
    .navMenu ul{
        font-size: 15px;
    }
}