.mainHeader{
    position: relative;
    top: 0;
    inset-inline: 0;
    z-index: 9;
    background: var(--white-color);
}
.stickyFixed .mainHeader{
	-webkit-animation: fadeInUp 300ms backwards;
	animation: fadeInUp 300ms backwards;
}
/* .sticky {
	margin-top: 166px;
} */
.sticky .mainHeader {
    position: fixed;
    background: #f5faff;
    box-shadow: 0 0px 4px rgba(96, 96, 96, 0.2);
	backdrop-filter: blur(3px);
	-webkit-animation: fadeInDown 500ms cubic-bezier(0.1, -0.6, 0.2, 0) both;
	animation: fadeInDown 500ms cubic-bezier(0.1, -0.6, 0.2, 0) both;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -1px, 0);
		-ms-transform: translate3d(0, -1px, 0);
		transform: translate3d(0, -1px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -1px, 0);
		-ms-transform: translate3d(0, -1px, 0);
		transform: translate3d(0, -1px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}
.topHeaderWrapper {
	--logo-size: 300px;
	--area: calc(50% - calc(var(--logo-size)) / 2);
	--gap: 24px;
	display: grid;
	grid-template-columns: calc(var(--area) - var(--gap)) var(--logo-size) calc(var(--area) - var(--gap));
	gap: var(--gap);
	align-items: center;
}
.leftArea{
    column-gap: 36px;
}
.newsletterBtn{
    --shadow-color: var(--white-color) !important;
}
.logo{
    height: 100px;
}
.searchInput {
	max-width: 85%;
	margin-left: auto;
    position: relative;
    z-index: 1;
}
.searchInput .form-control{
    background: var(--white-color);
    padding-inline: 20px 60px;
}
.searchInput button{
    --size: 48px;
    width: var(--size);
    height: calc(var(--size) - 10px);
    color: var(--white-color);
    background: var(--primary-color);
    border: none;
    outline: none;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    font-size: 15px;
}

/* Navigation */
.nav_wrapper {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.navMenu ul{
    column-gap: 36px;
    font: normal 18px / 1.5 var(--font-bold);
}
.menu-item a{
    color: inherit;
}
.menu-item a:hover{
    color: var(--primary-color);
}
.navMenu > ul > li > a{
    line-height: 2em;
    padding: 15px 0px;

}
@media only screen and (max-width: 1600px){
    .navMenu ul{
        font-size: 15px;
    }
}