.mainFooter{
    padding: 80px 0px 40px;
    background: var(--footer-bg);
    color: var(--white-color);
}
.footerGrid{
    display: grid;
    grid-template-columns: 71% 29%;
}
.footerGrid .left_column{
    border-right: 1px solid var(--footer-border);
  --space: 60px;
  padding-right: var(--space);
  margin-right: var(--space);
}
.fnav {
    max-width: 650px;
    margin-bottom: 48px;
}
.fnav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-position: outside;
    gap: 4px 36px;
    padding: 0;
    font: 400 21px / 2 var(--font-tinos);
}
.fnav ul li{
    margin: 0;
}
.fnav ul li:nth-child(4n + 1 ){
    list-style: none;
}
.logoRow{
    border-bottom: 1px solid var(--footer-border);
    --space: 32px;
    padding-bottom: var(--space);
    margin-bottom: var(--space);
}
/* Right Column */
.other-logo {
	max-width: max-content;
	background: var(--white-color);
	padding: 4px 12px;
	border-radius: 0.5vw;
	margin-bottom: 24px;
}
.subscribe-part{
    margin-bottom: 48px;
}
.subscribe-part p{
    font: normal 20px / 1.25 var(--font-secondary);
    letter-spacing: .5px;
    color: rgba(217, 217, 217, 1);
}
.subscribeInput .form-control{
    --input-color: #000;
    --height: 48px;
}
.subscribeInput .transparent-btn{
    --height: 48px;
    --shadow-color: var(--white-color);
    color: var(--white-color);
}
.issue-title{
    font: normal 32px / 1.25 var(--font-bold);
}
.darpan-issue .btn_wrap{
    margin-top: 20px;
}
.darpan-issue .transparent-btn{
    --shadow-color: var(--white-color);
    color: var(--white-color);
}