.mainFooter{
    padding: 80px 0px 40px;
    background: var(--footer-bg);
    color: var(--white-color);
}
.footerGrid{
    display: grid;
    grid-template-columns: 71% 29%;
}
.footerGrid .left_column{
    border-right: 1px solid var(--footer-border);
  --space: 60px;
  padding-right: var(--space);
  margin-right: var(--space);
}
.fnav {
    max-width: 650px;
    margin-bottom: 48px;
}
.fnav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-position: outside;
    gap: 4px 36px;
    padding: 0;
    font: 400 21px / 2 var(--font-tinos);
}
.fnav ul li{
    margin: 0;
}
.fnav ul li:nth-child(4n + 1 ){
    list-style: none;
}
.logoRow{
    border-bottom: 1px solid var(--footer-border);
    --space: 32px;
    padding-bottom: var(--space);
    margin-bottom: var(--space);
}
/* Right Column */
.other-logo {
	max-width: max-content;
	background: var(--white-color);
	padding: 4px 12px;
	border-radius: 0.5vw;
	margin-bottom: 24px;
}
.subscribe-part{
    margin-bottom: 48px;
}
.subscribe-part p{
    font: normal 20px / 1.25 var(--font-secondary);
    letter-spacing: .5px;
    color: rgba(217, 217, 217, 1);
}
.subscribeInput {
    gap: 16px;
}
.subscribeInput .form-control{
    --input-color: #000;
    --height: 48px;
}
.subscribeInput .transparent-btn{
    --height: 48px;
    --shadow-color: var(--white-color);
    color: var(--white-color);
}
.issue-title{
    font: normal 32px / 1.25 var(--font-bold);
}
.darpan-issue .btn_wrap{
    margin-top: 20px;
}
.darpan-issue .transparent-btn{
    --shadow-color: var(--white-color);
    color: var(--white-color);
}
/* Scroll Up */
.scrollup {
	position: fixed;
	bottom: 20px;
	right: 12px;
	z-index: 9;
	--area: 48px;
    place-items: center;
	font-size: calc(var(--area) / 3);
	width: var(--area);
	height: var(--area);
	border: 1px solid var(--white-color);
	color: var(--white-color);
	background: var(--primary-color);
	cursor: pointer;
	text-align: center;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: rjPulse 3000ms ease-out infinite;
	animation: rjPulse 3000ms ease-out infinite;
}
@-webkit-keyframes rjPulse {
	0% {
	-webkit-box-shadow: 0 0 0 var(--primary-color);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
@keyframes rjPulse {
	0% {
	-moz-box-shadow: 0 0 0 var(--primary-color);
	box-shadow: 0 0 0 var(--primary-color);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@media only screen and (max-width: 1600px){
    .mainFooter{
        padding: 70px 0 30px;
    }
    .footerGrid{
        grid-template-columns: 65% 35%;
    }
    .footerGrid .left_column{
        --space: 36px;
    }
    .fnav ul{
        font-size: 19px;
    }
    .issue-title{
        font-size: 28px;
    }
    .darpan-issue .btn_wrap{
        gap: 12px;
    }
    .darpan-issue [class*="rj-btn-"]{
        padding-inline: 12px;
    }
    .subscribe-part{
        margin-bottom: 36px;
    }
    .subscribeInput {
        gap: 12px;
    }
}