.boxContent, .sliderBox, .poster{
    position: relative;
    z-index: 1;
}
.sliderBox{
    display: block;
    color: var(--black-color);
}
/* .poster{
    padding-top: 62%;
} */
.stripLine::before, .stripLine .boxContent::before{
    content: '';
    width: calc(100% + 20px);
    height: 20px;
    display: block;
    background: url('./video-strip.webp') repeat-x top left / contain ;
}
.stripLine .boxContent::before{
    margin-bottom: 16px;
}
/* .subtitle{
    font: normal 22px / 1.2 var(--font-secondary);
    color: inherit;
    min-height: 22px;
} */
.videoTimer{
    position: absolute;
    z-index: 1;
    left: 10px;
    bottom: 10px;
    background: var(--another-color);
    color: var(--white-color);
    font-size: 11px;
    line-height: 1;
    padding: 4px 6px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.videoTimer:empty{display: none;}
.videoTimer *{
    width: 8px;
    height: 8px;
    border-radius: 0;
}
.videoTimer b{
    width: 1px;
}
.innerVideos .boxContent{
    margin-top: 20px;
}
.innerVideos .subtitle{
    font-size: 25px;
}
.videoIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--white-color);
    display: none;
    font-size: 36px;
}
.innerVideos .videoIcon{
    display: block;
}