.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skeleton {
	background: linear-gradient(45deg, #bb0f0f00, #a9250014);
	cursor: progress;
	border-radius: 4px;
	display: block;
	position: relative;
	overflow: hidden;
}
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.7) 100%
  );
  animation: loading 1.5s infinite;
}
.text-center .skeleton {
	margin-inline: auto;
}
.skeletonTitle {
	max-width: clamp(36%, 50vw, 720px);
	margin-bottom: 8px;
	height: 36px;
	border-radius: 4px;
}
.skeleton.title{
  width: 220px;
  height: 30px;
}
.skeletonDot {
	background: linear-gradient(45deg, rgba(31, 88, 203, .26), var(--primary-background));
	border-radius: 6px;
	width: 120px;
	height: 6px;
	margin-top: 16px;
	position: relative;
	z-index: 1;
}
.skeletonDot span {
  background: var(--white-color);
  width: 8px;
  height: 100%;
  border-radius: 2px;
  position: absolute;
  left: 60%;
}
.skeletonDot span + span {
  left: 80%;
}
.skeletonFill{
	position: absolute;
	inset: 0;
}
.skeletonImage {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}
.skeletonText {
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
}
.skeletonText:last-child{
	margin-bottom: 0;
}
@keyframes loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

.placeholder {
	background: linear-gradient(to right,
			rgba(220, 220, 220, 0.4) 0%,
			rgba(220, 220, 220, 0.6) 20%,
			rgba(220, 220, 220, 0.4) 40%,
			rgba(220, 220, 220, 0.4) 100%);
	background-size: 400% 100%;
	animation: shimmer 1.2s infinite linear;
}

@keyframes shimmer {
	0% {
		background-position: 200% 0;
	}

	100% {
		background-position: -200% 0;
	}
}
/* ============== Skeleton Ends========= */