.eventsBox {
    display: grid;
    --leftY: 16px;
    row-gap: var(--leftY);
    font-size: 15px;
    min-height: 100%;
}
.boxPoster{
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 88%;
    margin-bottom: var(--leftY);
}
.boxPoster img{
    object-fit: cover;
    object-position: top;
}
.boxTag {
    padding: 4px 8px;
    font-size: 12px;
    color: var(--white-color);
    margin-bottom: 8px;
}
.boxTag:not(.skeleton){
    background: var(--primary-color);
}
.eventsBox-end {
	border-top: 1px solid var(--border);
	--gap: 8px;
	align-items: start;
	column-gap: var(--gap);
	margin-top: auto;
	padding-top: 8px;
	display: flex;
	font-size: .9em;
	line-height: 1.3;
}
.eventsBox-end .authorName {
    color: var(--black-color);
}
.eventsBox-end .authorName:not(:only-child) {
    border-right: 1px solid currentColor;
    padding-right: var(--gap);
}

/* ==========Trending========== */
.swiper-slide:has(.eventsBox) {
	height: auto;
}
.trending_slider .boxPoster,
.photoBox .boxPoster {
	padding-top: 110%;
}
/* ==========Magazine View========== */
.magazineBoxFirst .boxPoster{
    padding-top: 132.5%;
}
.magazineBox .boxPoster{
    padding-top: 60%;
}

/* ==========Photos========== */
.photoBox {
	display: block;
	position: relative;
	z-index: 1;
}
.innerPhotos {
    margin-bottom: 16px;
}
.photoTag {
	background: var(--tertiary-color);
	color: var(--black-color);
	font: 600 12px / 1.25 var(--font-primary);
	padding: 6px 12px;
	position: absolute;
	top: 0;
	right: 0;
}
.photoBoxText{
    background: var(--white-color);
    padding: 20px 0px;
}
.innerPhotos .photoBoxText {
    background: var(--white-color);
	position: absolute;
    z-index: 2;
	bottom: 0px;
	z-index: 2;
	inset-inline: 20px;
	padding: 20px 20px 4px;
}
.innerPhotos .subheading{
    font-size: 25px;
}
.imageCount {
    font: 400 17px / 1.25 var(--font-secondary);
    color: #474747;
    position: relative;
    z-index: 1;
    --size: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.imageCount em {
    font-style: normal;
}
.imageCount::before {
    content: '';
    display: block;
    width: var(--size);
    height: var(--size);
    background: var(--primary-color);
    border-radius: 100%;
    margin-right: 4px;
}
/* ==========Skeleton========== */
.skeltetonBox *{
    min-height: 18px;
}
.boxTag.skeleton {
	width: 120px;
	height: 26px;
}
.skeltetonBox .subtitle{
    height: 20px;
}
.skeltetonBox .authorName{
    border: none !important;
}
@media only screen and (max-width: 1600px){
    .eventsBox{
        font-size: 13px;
    }
}