.area_section{
    margin-block: 32px;
}
.categoryList{
    font-family: var(--font-secondary)
}
.poster{
    margin-bottom: 24px;
}
.tagWrap{
    display: flex;
    flex-wrap: wrap;
    color: rgb(58, 58, 58);
    font-weight: 500;
    font-size: 1.15em;
    margin: 0px 0px 12px;
    gap: 8px;
}
.post_share {
    margin-bottom: 24px;
    font-size: 0.95em;
    font-weight: 500;
}
.social{
    gap: 8px;
    font-size: 1.25em;
}
.social a{
    color: inherit;
}
.pageTitle{
    font: normal 42px / 1.05 var(--font-secondary);
    margin-bottom: 30px;
}
.rj_editor_text p{
    margin-bottom: 24px;
}
.rj_editor_text p:last-child{
    margin-bottom: 0px;
}
.posterAd{
    margin-top: 40px;
}